# please add general patterns to your global ignore list
# see https://github.com/github/gitignore#readme
.DS_STORE
*.swp
*.rbc
*.sass-cache
/pkg
/doc/api
/Gemfile.lock

/db/development.sqlite
/db/test.sqlite